Django==4.2.4
djangorestframework==3.14.0
django-environ==0.11.1
Pillow==10.0.0
psycopg2_binary==2.9.6
django-countries==7.5.1
django-filter==23.2
phonenumbers==8.13.19
django-cors-headers==4.2.0
environ==1.0
plaid-python==16.0.0
